body{
    background-color:  #e9dad6 ;
}
.clock{
    text-align:center;
    padding:1em 0;
}
#jumbo{
    height: 220px;
    padding-top: 0;
    background-color:  #38366d;
    color: white;
}
.all div{
    float: left;
    margin: 20px;
}
.inside-time{
    font-size: 18px;
    font-style: italic;
}
.number{
    font-size: 40px;
    font-weight: bold;
    color:orangered;
}
#guageChart{
    width: 100% !important;
    height: auto !important;
}
