<div class="all">
    <div class="card" style="height:300px;">
        <div class="card-body">
            <table>
                <tr>
                    <td style="text-align: center;">
                        <i class="fa fa-cutlery people" style="font-size:38px;color:#5F68C3;"></i>
                        <br><br>
                        <span class="number" id="no"></span><br><br>
                        <h6>Seats Remaining</h6>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <canvas id="guageChart"></canvas>
            <table>
                <tr>
                    <td>
                        People Inside:
                        <span class="number" id="rem"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card" style="height:300px;width: 300px;">
        <div class="card-body">
            <div id="circle-container"></div>
            <span style="text-align: center;">Remaining seats</span>
        </div>
    </div>
</div>
<div class="chart-container">
    <canvas id="lineChart"></canvas>
</div>